/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
	height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#floating-panel {
	position: absolute;
	top: 10px;
	left: 25%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
	padding-left: 10px;
}

.leftBar {
	width: 100%;
	height: 100%;
	display: block;
	float: left;
	overflow: auto;
	position: absolute;
	height: 100%;
	overflow-x: hidden;
}

.searchBar {
	width: 100%;
	height: 100%;
	display: block;
	float: left;
	overflow: auto;
	position: absolute;
}

.searchWidth {
	width: 390px;
}

.searchPadding {
	padding-left: 10px;
}

.loadingOverlay {
	width: 400px;
	display: block;
	float: left;
	overflow: auto;
	position: relative;
	height: 100%;
	background-color: #F0F0F0;
	z-index: 100;
}

.divMap {
	display: block;
	margin-left: 400px;
	margin-right: 18px;
}

.currentLocation {
	width: 300px;
	display: inline-block;
	padding-left: 95px;
}

.fieldName {
	width: 90px;
	display: inline-block;
}

.fieldTextBox {
	width: 270px;
}

.lineName {
	display: inline-block;
}

.statusTooltip {
	position: absolute;
	display: inline-block;
	z-index: 30;
	background-color: #FFF;
	box-shadow: 5px 5px 8px #CCC;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	display: none;
	max-height: 400px;
	overflow: auto;
}

.closeButton {
	position: relative;
    float: right;
    margin-top: -10px;
	margin-right: -5px;
    cursor: pointer;
}

.loading {
	background-image: url(loading.gif); 
	background-repeat: no-repeat;
    background-position: center; 
	height: 100%;
	width: 100%;
}

.routeLoadingOverlay {
	position: absolute;
	height: 100%;
	background-color: #F0F0F0;
	z-index: 100;
}

.route {
	position: relative;
}